/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #de101a;
  --ifm-color-primary-dark: #c80e17;
  --ifm-color-primary-darker: #bd0e16;
  --ifm-color-primary-darkest: #9b0b12;
  --ifm-color-primary-light: #ee1722;
  --ifm-color-primary-lighter: #ef232d;
  --ifm-color-primary-lightest: #f2444c;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f2444c;
  --ifm-color-primary-dark: #c80e17;
  --ifm-color-primary-darker: #bd0e16;
  --ifm-color-primary-darkest: #9b0b12;
  --ifm-color-primary-light: #ee1722;
  --ifm-color-primary-lighter: #ef232d;
  --ifm-color-primary-lightest: #f2444c;
}

/* Calendar styles */
.rbc-calendar {
  font-family: var(--ifm-font-family-base) !important;
}

.rbc-calendar .rbc-header {
  background-color: var(--ifm-color-primary) !important;
  color: var(--ifm-color-white) !important;
  padding: 10px !important;
  font-weight: bold !important;
}

.rbc-calendar .rbc-event {
  background-color: #DE101A !important;
  border-radius: 5px !important;
  opacity: 0.8 !important;
  color: white !important;
  border: 0px !important;
}

.rbc-calendar .rbc-today {
  background-color: var(--ifm-color-primary-lightest) !important;
}

.rbc-calendar .rbc-event.rbc-selected {
  background-color: #A31015 !important;
}
